<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CucumberSuit" verbose="1" parallel="tests" data-provider-thread-count="4">
    <test name="CucumberTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.CucumberTestNGE2ERunner"/>
        </classes>
    </test>
</suite>